<!DOCTYPE html>
<html>
 <body>
    
    <div class="center">
        <h1>Welcome to the Tran Sattions</h1>
        <p>
            <%= link_to "State station No 1", station_path(1), class: "btn btn-lg btn-primary"%>
        </p>
        <p>
             <%= link_to "State station No 2", station_path(2), class: "btn btn-lg btn-primary"%>
        </p>

    </div>
    </body>
</html>