<!DOCTYPE html>
<html>
 <body>
    <div class="center">
        <h1>Welcome to the Tran Sattions</h1>
            <%i=1%>
            <% (Station.count).times do%>
            <p>
                <%= link_to "State station No #{i}", station_path(i), 
                                            class: "btn btn-lg btn-primary"%>
            </p>
            <% i+=1%>
            <%end%>
    </div>
    </body>
</html>