<!DOCTYPE html>
</html>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
      <li>The station situated: <%=  @station.address %></li>
      <li>The phone number: <%= @station.phone%></li>
      <li>The small informatio about the station: <%= @station.info%> </li>
      <li>Places of interest situated there: <%= @station.list_of_stores%></li>
    </div>
</div>
