<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="conteiner">
           <nav>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "For admin", rails_admin_path %></li>
            </ul> 
          </nav>
    </div>
</header>